<section class="seccion-central">
    <h1>Recursos</h1>

    <h2>Buscador de Información Nutricional de Alimentos</h2>

    <p class="descripcion-seccion">Este es un servicio de consulta de información nutricional de alimentos brindado por Food Data Central del Departamento de Agricultura de los Estados Unidos.</p>    
        
    <form class="form-busqueda" (submit)="realizarBusqueda($event)">
        <input type="text" [(ngModel)]="termino" name="termino" placeholder="Término de búsqueda, ejemplo: pollo">        
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>                        
    </form>

    <div *ngIf="mostrarSpinner" class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
    
    <ul *ngIf="!mostrarSpinner && resultados.length > 0">
        <li *ngFor="let comida of resultados">{{comida.description}}</li>
    </ul>
    <p *ngIf="sinResultados">No se obtuvieron resultados...</p>
</section>
    