<div class="carrito">
    <button (click)="mostrarOcultarCarrito()">
        <svg *ngIf="carritoAbierto" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <svg *ngIf="!carritoAbierto" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        <div *ngIf="!consultarCantidad() && !carritoAbierto" class="balloon"></div>
    </button>
    <div [class]="claseCarrito">
        <div class="info">
            <ul>
                <li *ngFor="let producto of carrito">
                    <img [src]="producto.urlImagen" [alt]="'Imagen del Producto ' + producto.nombre"/>                
                    <div class="info-producto">
                        <h2>{{producto.nombre}}</h2>
                        <p>¢{{producto.precio}}</p>
                    </div>
                    <div class="botonera">
                        <button (click)="eliminarProductoCarrito(producto.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </li>                            
            </ul>    
            <p class="total">
                <strong>Total: ¢{{obtenerTotalCarrito().toFixed(2)}}</strong>
            </p>    
        </div>
    </div>  
</div>