<section class="seccion-central seccion-nosotros">
    <div class="dark-screen">
        <h1>QUIENES SOMOS</h1>
        
        <p class="nosotros-descripcion">
            Somos una alternativa a los gimnasios convencionales en Costa Rica contamos con más de 14 años de experiencia en brindar resultados a nuestros usuarios.
        </p>

        <p class="nosotros-descripcion">
            Nuestro principal objetivo es ofrecerles un servicio de alta calidad con una atención personalizada, a un precio competitivo.
        </p>

        <p class="nosotros-descripcion">
            Creemos firmemente en que el ejercicio debe ir de la mano con una buena alimentación, por eso sin costo adicional ofrecemos el control nutricional necesario para que nuestros usuarios obtengan un servicio integral.
        </p>
    </div>    
</section>
    