.seccion-nosotros {
    background-image: url('../../../assets/img/hero/hero-nosotros.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-terciario);
}  

.seccion-nosotros .dark-screen {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;    
    height: 100%;
    background-color: #00000086;
}

.seccion-nosotros .nosotros-descripcion {
    width: 70%;
    text-align: justify;
}