.seccion-inicio {
    background-image: url('../../../assets/img/hero/hero-inicio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--color-terciario);
}   

.seccion-inicio h1 {
    font-size: 2.7rem;   
}

.seccion-inicio .frase-dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 20vh;
    width: 30vw;    
}

.seccion-inicio .frase-dia q {    
    font-size: 1rem;
    font-weight: 300;
}

.seccion-inicio .frase-dia span {
    display: block;    
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 1.5 rem;
    color: var(--color-fuente-pie);
}

.seccion-inicio .frase-dia .icon {
    height: 40px;
    width: 40px;
    fill: var(--color-terciario);
}

.seccion-inicio .boton-inscripcion {
    border: none;
    padding: 15px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
    color: var(--color-borde-caja-frase);
    border: 2px solid var(--color-borde-caja-frase);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.seccion-inicio .boton-inscripcion:hover {
    background-color: var(--color-borde-caja-frase);    
    color: var(--color-terciario);
    border: 2px solid transparent;
}