.contenedor-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 5vh;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 22vw;
    height: 60vh;
    margin-bottom: 5vh;
    background-color: var(--color-terciario);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.producto .cuerpo-producto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.producto .bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.producto h2 {
    width: 100%;
    text-align: center;
    font-size: 120%;
    margin-top: 5%;
    color: var(--color-primario);
}

.producto img {
    width: 60%;
}

.producto .cantidad {
    margin: 0;
}

.producto button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-top: 5%;
    border: none;
    background-color: var(--color-fuente-subtitulo);
    color: var(--color-terciario);
}

.producto button svg { 
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.producto .precio {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(0, 100, 38);
}
