@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:wght@500&display=swap');

:root {
    /* Colores */
    --color-primario: #022a46;
    --color-primario-1: #022136;
    --color-secundario: #0077a7;
    --color-terciario: #ffffff; 
    --color-fondo-body: #000000;

    /* Inicio */
    --color-borde-caja-frase: rgb(78, 190, 255);
    
    /* Fuentes */
    --color-fuente-titulo: #3dc8ff;
    --color-fuente-defecto: #1a1a1a;
    --color-fuente-pie: #3dc8ff;

    /* Sombras */
    --sombra-1: 0 0 0.625rem #0000009a;    

    /* Botones */
    --color-boton-primario: #3dc8ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-fondo-body);
    color: var(--color-fuente-defecto);
}

.seccion-central {
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-width: 100%;    
    height: 100vh;   
    overflow: auto;         
}

.seccion-central .dark-screen {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;    
    height: 100%;
    background-color: #000000ab;
    font-weight: 600;
}

.seccion-central h1 {    
    margin: 18vh 0 5vh 0; 
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-fuente-titulo);    
    font-weight: 600;
}
