.seccion-nosotros {
    background-image: url('../../../../assets/img/hero/hero-nosotros.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    color: var(--color-terciario);
}  

.seccion-nosotros .nosotros-descripcion {
    width: 50%;
    text-align: justify;  
    font-size: 1.2rem;  
    font-weight: 100;
}